.card-botones {
  display: flex;
  justify-content: space-between;
}

.boton-verMas {
  background-color: white;
  border: 1px solid black;
  font-size: 12px;
  color: black;
}

.boton-anadir {
  background-color: black;
  font-size: 12px;
  color: white;
}
